@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  background-color: #f9fafb; /* gray-50 */
}
